// src/styles/_variables.scss

// Цвета
$primary-color: #F8F3EC; // светло-бежевый
$secondary-color: #E8D8C4; // песочный
$accent-color: #A67C52; // коричнево-золотистый
$text-color: #333333; // темно-серый
$background-color: #FFFFFF; // белый

// Шрифты
$font-family-headings: 'Montserrat', sans-serif;
$font-family-base: 'Open Sans', sans-serif;

// Другие переменные
$base-font-size: 16px;
$base-line-height: 1.5;
$spacer: 1rem;